.form {

    .form-group {
        margin: 1.2rem 0;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
       display: block;
       width: 300px;
       padding: 0.4rem;
       font-size: 2rem;
       border-bottom: 2px solid $link-color; 
    }

    textarea {
        display: block;
        width: 100%;
        padding: 0.4rem;
        font-size: 2rem;
        border: 2px solid $link-color;
    }

    input[type='submit'] {
        @include btn-base;
        background-color: $link-color;
    }
}