// font styles
$main-font: "Press Start 2P", sans-serif;
$game-font: "VT323", sans-serif;

//colour styles
$background: #23331c;
$link-color: #519331;
$main-color: #d9d7e4;
$hover-color: #85b374;

//alert styles
$primary-color: #17a2b8;
$light-color: #f4f4f4;
$dark-color: #343a40;
$danger-color: #dc3545;
$success-color: #28c745;